*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;       /* Центрируем сайт */
  max-width: 1100px;    /* Ширина макета из Figma */
  width: 100%;
  background-color: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased; /* Делает шрифты чище */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
