/* ==================== HEADER ==================== */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 4px 0 0;
}

.header__links-list-item {
  padding-left: 8px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  color: #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  display: block;
}

.header__address {
  justify-self: end;
  width: 240px;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.address__text {
  margin-top: 4px;
  line-height: 1.2;
}

.address__link {
  display: block;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  margin-bottom: 4px;
}

/* ==================== COVER ==================== */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 1;
}

.aligned-text {
  display: block;
  line-height: 1;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 20px;
}

.bet-button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ==================== LOTS ==================== */

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  margin: 0 0 27px 64px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  padding: 48px 40px;
  background-size: cover;
}

.card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #fff;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 64px;
  font-size: 20px;
  color: #000;
  width: max-content;
}

.lots__look-more-link:hover {
  opacity: 0.7;
}

/* ==================== ABOUT ==================== */

.about {
  display: flex;
  gap: 72px;
  padding: 180px 50px 0;
  align-items: flex-start;
}

.about__column {
  display: flex;
  gap: 72px;
  align-items: flex-start;
}

.about__logo {
  flex-shrink: 0;
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__text {
  padding-top: 101px;
  max-width: 693px;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.about__paragraph {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

/* ==================== FOOTER ==================== */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 88px;
}

.footer__column {
  flex: 1;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer__menu-item a {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.footer__menu-link--underlined {
  border-bottom: 1px solid #000;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
}

.address__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address__list-item {
  line-height: 1.2;
}

.address__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.socials {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials__link {
  display: flex;
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.socials__link:hover {
  background-color: #f0f0f0;
}

.socials__icon--yt {
  width: 26px;
  height: 20px;
}

.socials__icon--vk {
  width: 29px;
  height: 18px;
}

.socials__icon--pinterest {
  width: 17px;
  height: 22px;
}